<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-gux_defer_usb2 kext-dev-mode=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>bootmgfw.efi</string>
		<key>DefaultVolume</key>
		<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>12</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>vista</string>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>kext-dev-mode=1</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>OS X Yosemite</string>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>cap</string>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>0000B0AD-A980-DE92-9DFE-F7315A610100</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=bc217cf1-27a3-4b10-9058-c1050f375687 ro quiet add_efi_memmap initrd=\EFI\parrot\initrd.img</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Parrot OS</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>parrot</string>
					<key>Path</key>
					<string>\EFI\parrot\vmlinuz</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=319220b8-b56f-4060-9082-92e3d9aac82b ro quiet splash $vt_handoff add_efi_memmap initrd=\EFI\ubuntu\initrd.img</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Ubuntu</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>kali</string>
					<key>Path</key>
					<string>\EFI\ubuntu\vmlinuz</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>slide=0 dart=0 kext-dev-mode=1 nv_disable=1</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Mac OSX Maverick</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>lion</string>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>00040C53-3650-9D68-48F4-DE19A6180800</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=73b1bd43-dd83-4dde-822f-b0b02f0cad93 ro add_efi_memmap initrd=\EFI\opensuse\initrd</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>openSUSE</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>suse</string>
					<key>Path</key>
					<string>\EFI\opensuse\vmlinuz</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=2b8de050-2942-49f2-80d1-38c507db9398 ro add_efi_memmap initrd=\EFI\ubuntu\initrdmint.img</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Mint</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>mint</string>
					<key>Path</key>
					<string>\EFI\ubuntu\vmlinuzmint</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=415f46ff-1a35-4b4c-b2c0-e67e9573bbe0 ro add_efi_memmap initrd=\EFI\kali\initrd.img</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Kali Linux</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>debian</string>
					<key>Path</key>
					<string>\EFI\kali\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Remix OS</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>clover</string>
					<key>Path</key>
					<string>\EFI\RemixOS\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Phoenix OS</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>clover</string>
					<key>Path</key>
					<string>\EFI\PhoenixOS\Boot\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>EA33BE6C-7A79-4A03-87CF-6FE05F9EFEA5</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>shim.efi</string>
			<string>bootx64.efi</string>
			<string>grubx64.efi</string>
			<string>Recovery HD</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>5</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Theme</key>
		<string>BGM256</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Broadcom 43224 whitelist</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TWFjLTJFNkZBQjk2NTY2RkU1OEM=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				TWFjLUMzRUM3Q0QyMjI5Mjk4MUY=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QcYGAEmLvCQ=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				QcYGAUmLvCQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QcYGAEiLu2g=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				QcYGAUiLu2g=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QcaGQwEAAAA=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				QcaGQwEAAAE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ixnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				53YdEQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT Codec</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ihnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string></string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/26/10</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP61.88Z.0057.B0C.1007261552</string>
		<key>Board-ID</key>
		<string></string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string></string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro6,1</string>
		<key>SerialNumber</key>
		<string></string>
		<key>SmUUID</key>
		<string></string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string></string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
